{% extends "base.html" %}
{% load app_buttons %}
{% load static %}

{% block title %}
- {{ author_name }}
{% endblock %}
    
{% block more_head %}
  <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/nav_panel.css"/>
  <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/app_button.css"/>
  <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/app_stars.css"/>
{% endblock %}

{% block content %}

{% if go_back_to_title %}
<div class="row">
    <div class="col-md-12" style="margin-bottom: 2em;">
        <a href="{{ go_back_to_url }}">&larr; Go back to {% autoescape off %}{{ go_back_to_title }}{% endautoescape %}</a>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{ author_name }}</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 style="margin-bottom: 1em;">Apps</h2>
    </div>
</div>

<div class="row" style="margin:5px;">
    <div class="col-lg-12" style="margin-top:10px;">
        {% app_buttons apps releases %}
    </div>
</div>

{% endblock %}
