{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGB App Store - 500 Server Error</title>
    <style type="text/css">
      body {
        background-color: #353535;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
      #content {
        margin-top: 8em;
        width: 750px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1em;
        padding: 2em;
      }
      h1 {
        font-size: 3em;
        margin-top: 0;
      }
    </style>
  </head>
  <body>
    <div id="content">
      <h1>500 Server Error</h1>
      <img src="{% get_static_prefix %}common/img/technical-difficulties.jpg">
      <p>Sorry! We're having technical difficulties. The web site administrators have been informed.</p>
    </div>
  </body>
</html>
